<% layout('./layouts/boilerplate') -%>
<h1>Edit a Campground</h1>
<form action="/campgrounds/<%= editcampground._id %>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name = "editcampground[title]" value="<%= editcampground.title %>">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name = "editcampground[location]" value="<%= editcampground.location %>">
    </div>
    <button>Update the Campground</button>
    <div>
        <a href="/campgrounds/<%= editcampground._id %>">Back to Campgrounds</a>
    </div>
</form>